.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    height: 70vh; /* Set the height to 50% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if the content overflows */
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .chart-container {
    margin-top: 20px;
  }
  
  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px; /* Add some space between the last question and the delete button */
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  