.form-container {
    min-width: 400px;
    width:25%;
    top:50%;
    left:50%;
    margin:0;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 20px;
    border: 3px solid #4d4d4d;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size:25px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: calc(100% - 20px);
    padding: 8px 10px;  
    background-color: #4d4d4d;
    border-radius: 10px;
  }
  
  .form-group input:focus {
    border-color: #007bff;
  }
  
  .button-container {
    text-align: center;
  }
  
  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  .check{
    background-color: #4d4d4d;
    color:#0056b3;
    margin:5px;
  }
  